<!DOCTYPE html>
<html lang="en">
    <head>
        <title>eStoresAPI - Build E-commerce Apps Faster</title>
        <meta
            name="description"
            content="Simplify e-commerce development with eStoresAPI. Get ready-to-use APIs for store creation, product management, cart functionality, and customer sign-ups—no backend required!"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="keywords" content="eStoresAPI,No Backend,E-commerce API" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="app"></div>
        <script type="module" src="/views/main.jsx"></script>
    </body>
</html>
